import init.omap4.rc
import init.ovation.usb.rc

on fs
    # for ovation
    mkdir /rom 0777 root root	
    mkdir /bootdata 0777 root root

    # mount partitions
    mount_all /fstab.ovation
    setprop ro.crypto.fuse_sdcard true

on post-fs
    # sensor/i2c/backlight permissions
    chown system system /sys/bus/i2c/drivers/ft5x06/3-0038/wmreg
    chown system system /sys/bus/i2c/drivers/ft5x06/3-0038/wmval
    chown system system /sys/bus/i2c/drivers/kxtf9/1-000e/delay
    chown system system /sys/bus/i2c/drivers/kxtf9/1-000e/enable

    # OVATION use the path below for lcd brightness control
    chown system system /sys/class/backlight/lcd-backlight/brightness

    # USB ID properties - writable by all for now
    chmod 0666 /sys/devices/platform/omap/omap_i2c.1/i2c-1/1-0048/twl6030_usb/usb_id

